@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<section class="cards-section silver static" id="cards-section-insights-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 section-header">
                <h2>@Html.Sitecore().Field("Heading")</h2>
                <aside>
                    <a href='/insights/events' class='section-header-button'>@Html.Sitecore().Field("Event Button Heading")</a>
                </aside>
            </div>
        </div>
    </div>
    <div class="cards-container">
        <div class="card-group">
            @Html.Sitecore().Placeholder("Event Row")
        </div>
        <div class="container">
            <div class="button-wrapper">
                <a href='/insights/events' class='cardsbutton-style mobile-button'>VIEW ALL EVENTS</a>
            </div>
        </div>
    </div>
</section>




