@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Sitecore.Data.Fields.MultilistField our_values = Model.Item.Fields["List"];
}
<div>
    <section class="three-four-up" id="our-values">
        <div class="container">
            <div class="corp-header">
                <h1>@Html.Sitecore().Field("Our Values Title")</h1>
            </div>

            @foreach (Sitecore.Data.Items.Item our_values_list in our_values.GetItems())
            {
                <article>
                    <i>@Html.Sitecore().Field("Icon", our_values_list)</i>
                    <h2>@Html.Sitecore().Field("Heading", our_values_list)</h2>
                    <p>@Html.Sitecore().Field("Intro", our_values_list)</p>
                </article>
            }

        </div>
    </section>
</div>
