@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<section class="cards-section" id="cards-section-homepage_acb02eeb49e84309852e937ac043dc2d">
    <div class="cards-container">
      
        @Html.Sitecore().DynamicPlaceholder("Tile Part")

        <div class="button-wrapper" id="loadMore">
            <!-- Button below should require localization -->
            <a href="#" class="cardsbutton cardsbutton-style">Load More</a>
        </div>
    </div>
</section>  