@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="panel-panel-inner">
    <div class="block-region-sidebar">
        <div data-storage-id="node:5806:full:27026" data-uuid="ef6147b4-5c48-4bb5-a249-efadc198f426" class="block--market-data-block__stock-quote block--market-data-block__stock-quote--5806 block--sidebar--market-data-block__stock-quote block--sidebar--market-data-block__stock-quote--5806 block--ef6147b4-5c48-4bb5-a249-efadc198f426 block--ef6147b4-5c48-4bb5-a249-efadc198f426--5806 block block-nir-market-data-block block-market-data-block__stock-quote">

            <h2>Stock Quote</h2>

            <div class='quote-wrap user-toggle-off stock-quote__featured'>
                <div class="quote-wrapper">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr class="ccbnOutline">
                                <td valign="top">
                                    <table class="ccbnBgRow" width="100%" cellspacing="1" cellpadding="3" border="0">
                                        <form method="Post" action="phoenix.zhtml?c=83872&amp;p=irol-irhome&amp;t=SwitchQuote"></form>
                                        <tbody>
                                            <tr class="ccbnBgTblTtl ccbnBgTblEven">
                                                <td colspan="2">
                                                    <span class="ccbnTblTtl">
                                                        <input name="control_Symbol" value="03NA000000CAB" type="hidden"> (Common)
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="ccbnBgTblTxt">
                                                <td class="ccbnBgTblLabelLeft" valign="top" nowrap="nowrap">
                                                    <span class="ccbnTblLabelLeft">
                                                        Exchange
                                                    </span>
                                                </td>
                                                <td valign="top" nowrap="nowrap"></td>
                                            </tr>
                                            <tr class="ccbnBgTblTxt ccbnBgTblEven">
                                                <td class="ccbnBgTblLabelLeft" valign="top" nowrap="nowrap">
                                                    <span class="ccbnTblLabelLeft">
                                                        Price
                                                    </span>
                                                </td>
                                                <td class="ccbnBgPrice" width="100%" valign="top" nowrap="nowrap"><span class="ccbnPrice"></span></td>
                                            </tr>
                                            <tr class="ccbnBgTblTxt">
                                                <td class="ccbnBgTblLabelLeft" valign="top" nowrap="nowrap"><span class="ccbnTblLabelLeft">Change</span></td>
                                                <td nowrap="nowrap">&nbsp;<span class="ccbnprice "></span></td>
                                            </tr>
                                            <tr class="ccbnBgTblTxt ccbnBgTblEven">
                                                <td class="ccbnBgTblLabelLeft" valign="top" nowrap="nowrap"><span class="ccbnTblLabelLeft">Volume</span></td>
                                                <td nowrap="nowrap"><span class="ccbnTblTxt"></span></td>
                                            </tr>

                                            <tr class="ccbnBgTblSubTxt">
                                                <td colspan="2"><span class="ccbnTblSubTxt">Data as of						 </span></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="views-element-container block--views-blockwidget-assets-widget-assets-ul block--views-blockwidget-assets-widget-assets-ul--5806 block--sidebar--views-block--widget-assets-widget-assets-ul block--sidebar--views-block--widget-assets-widget-assets-ul--5806 block--1b406367-b045-4685-b050-c52a6dcde011 block--1b406367-b045-4685-b050-c52a6dcde011--5806 block block-views block-views-blockwidget-assets-widget-assets-ul">


            <div data-block-uuid="1b406367-b045-4685-b050-c52a6dcde011">
                <div class="view view-widget-assets view-id-widget_assets view-display-id-widget_assets_ul js-view-dom-id-c66c617ce1d15e247b2a542c775b1de5aaf86cf0745c531091bda65297353edf">


                    <div class="view-filters">
                        <form class="views-exposed-form" data-drupal-selector="views-exposed-form-widget-assets-widget-assets-ul" action="/" method="get" id="views-exposed-form-widget-assets-widget-assets-ul" accept-charset="UTF-8">
                            <div class="form--inline clearfix">
                                <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                                    <input data-drupal-selector="edit-submit-widget-assets" type="submit" id="edit-submit-widget-assets" value="Filter" class="button js-form-submit form-submit" />
                                    <input data-drupal-selector="edit-reset" type="submit" id="edit-reset" name="op" value="Reset" class="button js-form-submit form-submit" />
                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="view-content">
                        <div class="item-list">

                            <ul>

                                <li>
                                    <article role="article" class="node node--nir-asset--nir-unordered-list node--type-nir-asset node--view-mode-nir-unordered-list two-col-node-alt3">

                                        <h3 class="field__item">Q4 2019 Earnings Presentation</h3>

                                        <div>
                                            <div class="asset-date">


                                                <span class="field__item">
                                                    <time datetime="2020-02-25T12:00:00Z" timezone="America/New_York" class="datetime">02/25/20</time>
                                                </span>



                                            </div>

                                            <div class="nir-docs">


                                                <div class="field field--name-field-nir-document field--type-file field--label-hidden field__items">
                                                    <div class="field__item">
                                                        <div class="file-link">
                                                            <span class="file file--mime-application-pdf file--application-pdf"> <a href="https://perficient.gcs-web.com/static-files/0dc48ed6-cee7-4510-9043-3a9bc56d8dab" type="application/pdf; length=1281369" title="Q4 2019 Earnings Presentation Final Final.pdf">Q4 2019 Earnings Presentation</a></span><span class="filesize"> 1.2 MB</span>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <article role="article" class="node node--nir-asset--nir-unordered-list node--type-nir-asset node--view-mode-nir-unordered-list two-col-node-alt3">

                                        <h3 class="field__item">Q4 2019 Performance Highlights</h3>

                                        <div>
                                            <div class="asset-date">


                                                <span class="field__item">
                                                    <time datetime="2020-02-25T12:00:00Z" timezone="America/New_York" class="datetime">02/25/20</time>
                                                </span>



                                            </div>

                                            <div class="nir-docs">


                                                <div class="field field--name-field-nir-document field--type-file field--label-hidden field__items">
                                                    <div class="field__item">
                                                        <div class="file-link">
                                                            <span class="file file--mime-application-pdf file--application-pdf"> <a href="https://perficient.gcs-web.com/static-files/be94b956-cc19-46e7-a6ba-e3e2a3e9ef03" type="application/pdf; length=1253649" title="highlight sheet 2019 Q4.pdf">Q4 2019 Performance Highlights</a></span><span class="filesize"> 1.2 MB</span>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <article role="article" class="node node--nir-asset--nir-unordered-list node--type-nir-asset node--view-mode-nir-unordered-list two-col-node-alt3">

                                        <h3 class="field__item">Investor Presentation</h3>

                                        <div>
                                            <div class="asset-date">


                                                <span class="field__item">
                                                    <time datetime="2020-03-06T12:00:00Z" timezone="America/New_York" class="datetime">03/06/20</time>
                                                </span>



                                            </div>

                                            <div class="nir-docs">


                                                <div class="field field--name-field-nir-document field--type-file field--label-hidden field__items">
                                                    <div class="field__item">
                                                        <div class="file-link">
                                                            <span class="file file--mime-application-pdf file--application-pdf"> <a href="https://perficient.gcs-web.com/static-files/3a30a55c-6bea-41df-98d7-2bff96ba35da" type="application/pdf; length=3764117" title="2020_IR Perficient Deck_030520.pdf">Investor Presentation</a></span><span class="filesize"> 3.7 MB</span>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </article>
                                </li>

                            </ul>

                        </div>

                    </div>


                    <div class="view-footer">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>