@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<article class="node node--type-nir_landing_page node--view-mode-full clearfix">

    <h1>
        @Html.Sitecore().Field("Heading")
    </h1>
    <div>

        <div class="panel-display moscone-flipped clearfix ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 radix-layouts-content panel-panel">
                        <div class="panel-panel-inner">
                            <div class="block-region-contentmain">
                                @Html.Sitecore().Field("Middle Body")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 radix-layouts-sidebar panel-panel">
                        @Html.Sitecore().Placeholder("Stock-Quote")
                    </div>
                </div>

               @Html.Sitecore().Placeholder("Contact-Information")
            </div>

        </div><!-- /.moscone-flipped -->

    </div>
</article>