@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<article class="node node--type-nir_landing_page node--view-mode-full clearfix">

    <h1>
        Investor Relations
    </h1>


    <div>

        <div class="panel-display moscone-flipped clearfix ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 radix-layouts-header panel-panel">
                        <div class="panel-panel-inner">
                            <div class="block-region-header">
                                <div class="views-element-container block--views-blockwidget-events-block-1 block--views-blockwidget-events-block-1--5806 block--header--views-block--widget-events-block-1 block--header--views-block--widget-events-block-1--5806 block--f6634311-8ec5-4166-a92b-b3cf4737f11d block--f6634311-8ec5-4166-a92b-b3cf4737f11d--5806 block block-views block-views-blockwidget-events-block-1">


                                    <div data-block-uuid="f6634311-8ec5-4166-a92b-b3cf4737f11d">
                                        <div class="view view-widget-events view-id-widget_events view-display-id-block_1 js-view-dom-id-8156cea1bd8f8691a3d2c61c43cff2d6568b5b27b15dab820399e0abe7c66c42">


                                            <div class="view-filters">
                                                <form class="views-exposed-form" data-drupal-selector="views-exposed-form-widget-events-block-1" action="/" method="get" id="views-exposed-form-widget-events-block-1" accept-charset="UTF-8">
                                                    <div class="form--inline clearfix">
                                                        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                                                            <input data-drupal-selector="edit-submit-widget-events" type="submit" id="edit-submit-widget-events" value="Filter" class="button js-form-submit form-submit" />
                                                            <input data-drupal-selector="edit-reset" type="submit" id="edit-reset" name="op" value="Reset" class="button js-form-submit form-submit" />
                                                        </div>

                                                    </div>

                                                </form>

                                            </div>

                                            <div class="view-empty">
                                                There are currently no events to display.
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 radix-layouts-content panel-panel">
                        <div class="panel-panel-inner">
                            <div class="block-region-contentmain">
                                <div class="block-content--nir-global-block block-content--nir-global-block--6036 block--block-content9fa43010-7f4b-41eb-8afe-6bc78ccfa5fc block--block-content9fa43010-7f4b-41eb-8afe-6bc78ccfa5fc--5806 block--contentmain--block-content--9fa43010-7f4b-41eb-8afe-6bc78ccfa5fc block--contentmain--block-content--9fa43010-7f4b-41eb-8afe-6bc78ccfa5fc--5806 block--a5732112-510b-46aa-ba98-538d9786d835 block--a5732112-510b-46aa-ba98-538d9786d835--5806 block block-block-content block-block-content9fa43010-7f4b-41eb-8afe-6bc78ccfa5fc">

                                    <h2>Corporate Profile</h2>


                                    <div class="field field--name-field-nir-global-block-node field--type-entity-reference field--label-hidden field__item">
                                        <div class="clearfix text-formatted field field--name-field-nir-global-block-body field--type-text-long field--label-hidden field__item">
                                            <span class="ccbnTxt"></span>
                                            <p><span class="ccbnTxt">Perficient is the leading digital transformation consulting firm serving Global 2000® and enterprise customers throughout North America. With unparalleled information technology, management consulting and creative capabilities, Perficient delivers vision, execution and value with outstanding digital experience, business optimization and industry solutions.</span></p>
                                            <span class="ccbnTxt"> </span>

                                            <p><span class="ccbnTxt">Our work enables clients to improve productivity and competitiveness; grow and strengthen relationships with customers, suppliers and partners; and reduce costs. Perficient’s professionals serve clients from a network of offices across North America and offshore locations in India and China.</span></p>
                                            <span class="ccbnTxt"> </span>

                                            <p><span class="ccbnTxt">Traded on the Nasdaq Global Select Market, Perficient is a member of the Russell 2000 index and the S&amp;P SmallCap 600 index.</span></p>
                                            <span class="ccbnTxt"> </span>

                                            <p><span class="ccbnTxt">Perficient is an award-winning <a href="https://www.perficient.com/partners/adobe">Adobe Platinum Partner</a>, <a href="https://www.perficient.com/partners/ibm">Platinum Level IBM business partner</a>, a <a href="https://www.perficient.com/partners/microsoft">Microsoft National Service Provider</a> and Gold Certified Partner, an <a href="https://www.perficient.com/partners/oracle">Oracle Platinum Partner</a>, an <a href="https://www.perficient.com/partners/pivotal">Advanced Pivotal Ready Partner</a>, a <a href="https://www.perficient.com/partners/salesforce">Gold Salesforce Consulting Partner</a>, and a <a href="https://www.perficient.com/partners/sitecore">Sitecore Platinum Partner</a>. </span></p>
                                            <span class="ccbnTxt"> </span>

                                            <p><span class="ccbnTxt">Our project teams deliver high-value, measurable results by working collaboratively with clients through a user-centered, technology and business-based methodology. We believe this approach enhances return-on-investment for our clients by significantly reducing the time and risk associated with designing and implementing business and technology solutions.</span></p>
                                            <span class="ccbnTxt"> </span>

                                            <p><span class="ccbnTxt">Our work is routinely recognized by our partners, trade and industry authorities, and most importantly, our clients. We place strong emphasis on building lasting relationships with clients and being 100% referenceable. In each of the past four years, more than 80% of our revenue was derived from repeat business. We believe this reflects our commitment to quality consulting and the long-term partnerships we build with our clients.</span></p>
                                            <span class="ccbnTxt"> </span>

                                            <p><span class="ccbnTxt"><a href="http://www.perficient.com/contact ">Contact us here</a></span></p>
                                            <span class="ccbnTxt"> </span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 radix-layouts-sidebar panel-panel">
                        @Html.Sitecore().Placeholder("Investor-Right")
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 radix-layouts-footer panel-panel">
                        <div class="panel-panel-inner">
                            <div class="block-region-footer">
                                <div class="block-content--nir-global-block block-content--nir-global-block--12486 block--block-content6b06eea2-b298-4ad7-b441-54b63a13587c block--block-content6b06eea2-b298-4ad7-b441-54b63a13587c--5806 block--footer--block-content--6b06eea2-b298-4ad7-b441-54b63a13587c block--footer--block-content--6b06eea2-b298-4ad7-b441-54b63a13587c--5806 block--30a0e09d-1a4c-4a08-bb64-da573f784a04 block--30a0e09d-1a4c-4a08-bb64-da573f784a04--5806 block block-block-content block-block-content6b06eea2-b298-4ad7-b441-54b63a13587c">

                                    <h2>Contact Information</h2>


                                    <div class="field field--name-field-nir-global-block-node field--type-entity-reference field--label-hidden field__item">
                                        <div class="clearfix text-formatted field field--name-field-nir-global-block-body field--type-text-long field--label-hidden field__item">
                                            <div class="ccbnResponsiveRow">
                                                <div class="ccbnResponsiveCell ccbnResponsive25">
                                                    <table border="0" cellpadding="3" cellspacing="1" width="100%">
                                                        <tbody>
                                                            <tr class="ccbnBgTtl">
                                                                <td><span class="ccbnSubTtl">Transfer Agent</span></td>
                                                            </tr>
                                                            <tr class="ccbnBgTxt">
                                                                <td valign="top"><span class="ccbnTxt">Computershare</span><br /><span class="ccbnTxt">P.O. Box 358016</span><br /><span class="ccbnTxt">Pittsburgh, PA 15252-8016</span><br /><span class="ccbnLabel">Phone: </span><span class="ccbnTxt">800-522-6645</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="ccbnResponsiveCell ccbnResponsive25">
                                                    <table border="0" cellpadding="3" cellspacing="1" width="100%">
                                                        <tbody>
                                                            <tr class="ccbnBgTtl">
                                                                <td><span class="ccbnSubTtl">Accountants</span></td>
                                                            </tr>
                                                            <tr class="ccbnBgTxt">
                                                                <td valign="top"><span class="ccbnTxt">KPMG LLP </span><br /><span class="ccbnTxt">10 South Broadway </span><br /><span class="ccbnTxt">St. Louis, MO 63102 </span><br /><span class="ccbnLabel">Phone: </span><span class="ccbnTxt">314-444-1400 </span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="ccbnResponsiveCell ccbnResponsive25">
                                                    <table border="0" cellpadding="3" cellspacing="1" width="100%">
                                                        <tbody>
                                                            <tr class="ccbnBgTtl">
                                                                <td><span class="ccbnSubTtl">Legal</span></td>
                                                            </tr>
                                                            <tr class="ccbnBgTxt">
                                                                <td valign="top"><span class="ccbnTxt">Thompson Coburn LLP</span><br /><span class="ccbnTxt">One US Bank Plaza</span><br /><span class="ccbnTxt">St. Louis, MO 63101-1611</span><br /><span class="ccbnLabel">Phone: </span><span class="ccbnTxt">314.552.6000</span><br /><span class="ccbnLabel">Fax: </span><span class="ccbnTxt">314-552-7000</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="ccbnResponsiveCell ccbnResponsive25">
                                                    <table border="0" cellpadding="3" cellspacing="1" width="100%">
                                                        <tbody>
                                                            <tr class="ccbnBgTtl">
                                                                <td><span class="ccbnSubTtl">Primary IR Contact</span></td>
                                                            </tr>
                                                            <tr class="ccbnBgTxt">
                                                                <td valign="top"><span class="ccbnTxt">Perficient Investor Relations Department</span><br /><span class="ccbnTxt">Perficient, Inc.</span><br /><span class="ccbnLabel">Phone: </span><span class="ccbnTxt">314-529-3555</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="block--attribution-block__stock-info-attribution__thomson-reuters block--attribution-block__stock-info-attribution__thomson-reuters--5806 block--footer--attribution-block__stock-info-attribution__thomson-reuters block--footer--attribution-block__stock-info-attribution__thomson-reuters--5806 block--2f58128a-1a49-4441-8f00-f948675b17d4 block--2f58128a-1a49-4441-8f00-f948675b17d4--5806 block block-nir-attribution-block block-attribution-block__stock-info-attribution__thomson-reuters">


                                    <p>
                                        Copyright West LLC. Minimum 15 minutes delayed.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.moscone-flipped -->

    </div>
</article>