@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Sitecore.Collections.ChildList left_invest = Model.Item.GetChildren();
}
<div class="region region-sidebar-first">


    <nav role="navigation" aria-labelledby="block-nir-pid167-investorrelations-menu" id="block-nir-pid167-investorrelations" class="block--system-menu-blockir block--system-menu-blockir--5806 block--sidebar-first--system-menu-block--ir block--sidebar-first--system-menu-block--ir--5806 block--5fa0b3bc-6bc5-4d21-ad7e-1dbc03bcaca2 block--5fa0b3bc-6bc5-4d21-ad7e-1dbc03bcaca2--5806 block block-menu navigation block-system-menublock menu--ir">
        <ul data-block-uuid="5fa0b3bc-6bc5-4d21-ad7e-1dbc03bcaca2" class="menu side-menu">
            @foreach (Sitecore.Data.Items.Item invest in left_invest)
            {
                Sitecore.Data.Fields.LinkField nav_left_link = invest.Fields["Link"];
                <li class="side-menu__item">
                    <a href="@nav_left_link.Url">@Html.Sitecore().Field("Link Heading", invest)</a>
                </li>
            }
        </ul>



    </nav>

</div>