@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<section class="cta-grid grid-hero">
    <div class="grid-col half">
        @Html.Sitecore().DynamicPlaceholder("Guide Left")
    </div>
    <div class="grid-col quarter grid-second-col ">
        @Html.Sitecore().DynamicPlaceholder("Guide Middle")
    </div>
    <div class="grid-col quarter last-col">
        @Html.Sitecore().DynamicPlaceholder("Guide Top Right")
        @Html.Sitecore().DynamicPlaceholder("Guide Bottom Right")
    </div>
</section>