@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

    <a href="/work/palo-alto-networks">
        <div class="tile-block tile-img">
            <img src='/-/media/images/work/tile-images/work-tile-paloaltonetworks.jpg?h=204&amp;w=276&amp;la=en&amp;hash=D94ED4340DA9BAB8BE00B8D3EFCDF64BD748D83E' class='img-responsive' alt='' />
        </div>
        <div class="tile-block tile-content ">
            <figcaption>Technology</figcaption>
            <div class="tile-content-wrap">

                <h2 class="tile-title">Palo Alto’s New Integration within Service Cloud Saves Support Team 3,000 Minutes Per Day</h2>
            </div>
        </div>
    </a>
