@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<section class="tiles-section">
    <div class="container tiles-wrapper" id="b6ac036e-3252-402c-a105-95bd6cc42b61">
        <div class="row">
            <div class="col-md-4 tiles-heading">
                <h1>@Html.Sitecore().Field("Heading")</h1>
                <p>@Html.Sitecore().Field("Intro")</p>
            </div>
            <div class="col-md-8">
                <div class="tiles-row">
                  @Html.Sitecore().Placeholder("Services Main Right")
                </div>
                <div class="button-wrapper"  id="loadServices">
                    <a href="#" class="tiles-load-button">LOAD MORE <b>Business Optimization</b></a>
                </div>
            </div>
        </div>
    </div>
</section>