@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<section class="cards-section white static expanded lower-eventpanels eventpanels" id="cards-section-webinars">
    <div class="cards-container">
        <div class="card-group">
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>February 27th</h1>
                                <h2>- February 27th, 2020</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2020/eric-enge-and-jay-baer-key-factors-for-delivering-seamless-ux">Eric Enge and Jay Baer: Key Factors for Delivering Seamless UX In 2020</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        February 27, 2020
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2020/eric-enge-and-jay-baer-key-factors-for-delivering-seamless-ux" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/eric-enge_headshot-new.png?h=64&amp;w=64&amp;la=en&amp;hash=A09B2A3E29EDA85EF9A8C6D07CC949302FAFB38F" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Eric Enge</h5>
                                            <h6>Principal, Perficient Digital</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/jay_baer_2020_headshot_high_res.jpg?h=64&amp;w=64&amp;la=en&amp;hash=606D55E90E6C6AF07A99C97BDE2CE1465D01A4C0" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Jay Baer</h5>
                                            <h6>President, Convince &amp; Convert  </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>February 6th</h1>
                                <h2>- February 6th, 2020</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2020/raise-the-bar-with-real-time-pharmacovigilance-surveillance">Raise the Bar With Real-Time Pharmacovigilance Surveillance</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        February 6, 2020
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2020/raise-the-bar-with-real-time-pharmacovigilance-surveillance" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/2019_kari_webinar_speaker_200x200.png?h=64&amp;w=64&amp;la=en&amp;hash=509F997256DFA8E161033CD23EA481CFF8A6061F" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Kari Blaho-Owens</h5>
                                            <h6>Ph.D. Director, Pharmacovigilance and Safety, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>January 28th</h1>
                                <h2>- January 28th, 2020</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2020/skype-for-business-to-microsoft-teams">Skype for Business to Microsoft Teams</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        January 28, 2020
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2020/skype-for-business-to-microsoft-teams" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/joel-oleson.png?h=64&amp;w=64&amp;la=en&amp;hash=6A214BBFBECA3CA12583AC9DA4DAEB203AA50507" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Joel Oleson</h5>
                                            <h6>MVP, Director, Microsoft CS Consulting, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/trevor-miller.jpg?h=64&amp;w=64&amp;la=en&amp;hash=7A5E821F5C64CCA8A135D599DD2A797155136711" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Trevor Miller</h5>
                                            <h6>Microsoft Solutions Architect, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>December 5th</h1>
                                <h2>- December 5th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/build-your-modern-workplace-hub-with-microsoft-teams">Build Your Modern Workplace Hub with Microsoft Teams</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        December 5, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/build-your-modern-workplace-hub-with-microsoft-teams" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/2019_ron_jones_webinar_speaker_200x200.png?h=64&amp;w=64&amp;la=en&amp;hash=3C73CC1327A8DC49C744353BE75DF94CECD00C2D" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Ron Jones</h5>
                                            <h6>Practice Director, Microsoft Modern Productivity, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/joel-oleson.png?h=64&amp;w=64&amp;la=en&amp;hash=6A214BBFBECA3CA12583AC9DA4DAEB203AA50507" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Joel Oleson</h5>
                                            <h6>MVP, Director, Microsoft CS Consulting, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>December 5th</h1>
                                <h2>- December 5th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/shorten-the-period-close-and-pivot-from-collecting-data-to-analysis">Shorten the Period-Close and Pivot from Collecting Data to Analysis  </a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        December 5, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/shorten-the-period-close-and-pivot-from-collecting-data-to-analysis" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/matt-hopkins.jpg?h=64&amp;w=64&amp;la=en&amp;hash=588EC029726235DC199132740BF6A8CE8CA1BE17" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5> Matt Hopkins</h5>
                                            <h6>Senior Project Manager, CPA Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>November 14th</h1>
                                <h2>- November 14th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/driving-office-365-and-microsoft-teams-user-adoption">Driving Office 365 and Microsoft Teams User Adoption</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        November 14, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/driving-office-365-and-microsoft-teams-user-adoption" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/2019_mike_willis_webinar_speaker_200x200.png?h=64&amp;w=64&amp;la=en&amp;hash=FDAB5B15595A4D499DDB8AB87B069B7994A8F618" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Mike Willis</h5>
                                            <h6>Director, Organizational Change Management, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/2019_ron_jones_webinar_speaker_200x200.png?h=64&amp;w=64&amp;la=en&amp;hash=3C73CC1327A8DC49C744353BE75DF94CECD00C2D" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Ron Jones</h5>
                                            <h6>Practice Director, Microsoft Modern Productivity, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>November 7th</h1>
                                <h2>- November 7th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/what-google-says-vs-what-seos-believe">What Google Says vs. What SEOs Believe</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        November 7, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/what-google-says-vs-what-seos-believe" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/eric-enge_headshot-new.png?h=64&amp;w=64&amp;la=en&amp;hash=A09B2A3E29EDA85EF9A8C6D07CC949302FAFB38F" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Eric Enge</h5>
                                            <h6>Principal, Perficient Digital</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/rand-fishkin.png?h=64&amp;w=64&amp;la=en&amp;hash=386AED91E3A6179B7ABB49BEF8390A3852F7CA2B" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Rand Fishkin</h5>
                                            <h6>Co-Founder, SparkToro</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>October 24th</h1>
                                <h2>- October 24th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/oracle-siebel-ctms-ip2019-highlights-and-upgrade-considerations">Oracle Siebel CTMS IP2019 Highlights and Upgrade Considerations</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        October 24, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/oracle-siebel-ctms-ip2019-highlights-and-upgrade-considerations" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/param-singh.jpg?h=64&amp;w=64&amp;la=en&amp;hash=B09B75DC8AB3FF7EA76DD3651D2B7098E6AB6C06" class="img-profile" alt="Param Singh">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Param Singh</h5>
                                            <h6>Director, Clinical Operations Solutions, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>October 22nd</h1>
                                <h2>- October 22nd, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/the-road-to-modernization-from-ebs-to-oracle-erp-cloud">The Road to Modernization: From EBS to Oracle ERP Cloud</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        October 22, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/the-road-to-modernization-from-ebs-to-oracle-erp-cloud" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/archana-shah.jpg?h=64&amp;w=64&amp;la=en&amp;hash=C3639E0FBB46F46A13602365C12C8F221A90C0EB" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Archana Shah</h5>
                                            <h6>Director, Enterprise Systems, Midcoast</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/harish-gulati.jpg?h=64&amp;w=64&amp;la=en&amp;hash=9478D3B206DAA2C0314CFA6595D7BD23185B324A" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Harish Gulati</h5>
                                            <h6>Manager, ERP Systems, Midcoast</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/matt-makowsky.png?h=64&amp;w=64&amp;la=en&amp;hash=B92F513053F77128B4A9D5F1EC2BF0D0698644D3" class="img-profile" alt="Matt Makowsky">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Matt Makowsky</h5>
                                            <h6>Director, Oracle ERP Cloud, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>September 5th</h1>
                                <h2>- September 5th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="https://www.perficientdigital.com/hcl-and-ibm/webinar">Understanding the IBM-HCL Deal and the Impact on the Future Commerce</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        September 5, 2019
                                    </h6>
                                    <a href="https://www.perficientdigital.com/hcl-and-ibm/webinar" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/mike-rabbior.png?h=64&amp;w=65&amp;la=en&amp;hash=F6DF8FB81CCDA071588EEEA887C5DD26626AFF21" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Mike Rabbior</h5>
                                            <h6>Chief Strategist, Commerce, Perficient Digital</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/raj-iyer.jpg?h=64&amp;w=64&amp;la=en&amp;hash=10DCB8AFC7708F102F7A7553E0F619A5BE909DB2" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Raj Iyer</h5>
                                            <h6>VP, Product Management, HCL</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/brian-gillespie.jpg?h=64&amp;w=64&amp;la=en&amp;hash=1D02787E09849A23BB720340CAC1E68E448DD1F6" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Brian Gillespie</h5>
                                            <h6>Solution Architect, HCL</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/pete-wharton.jpg?h=64&amp;w=64&amp;la=en&amp;hash=C79A4FEA2F60C3A3E2BD7ECF923593BF4FB1F558" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Pete Wharton</h5>
                                            <h6>Director of Marketing, HCL</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>August 8th</h1>
                                <h2>- August 8th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/eric-enge-and-rand-fishkin-debunk-the-biggest-myths-in-search">Eric Enge and Rand Fishkin Debunk the Biggest Myths in Search</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        August 8, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/eric-enge-and-rand-fishkin-debunk-the-biggest-myths-in-search" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/eric-enge_headshot-new.png?h=64&amp;w=64&amp;la=en&amp;hash=A09B2A3E29EDA85EF9A8C6D07CC949302FAFB38F" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Eric Enge</h5>
                                            <h6>Principal, Perficient Digital</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/rand-fishkin.png?h=64&amp;w=64&amp;la=en&amp;hash=386AED91E3A6179B7ABB49BEF8390A3852F7CA2B" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Rand Fishkin</h5>
                                            <h6>Co-Founder, SparkToro</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>August 1st</h1>
                                <h2>- August 1st, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/fragmented-data-one-source-of-truth-why-datorama-is-changing-b2b">Fragmented Data, One Source of Truth: Why Datorama is Changing B2B</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        August 1, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/fragmented-data-one-source-of-truth-why-datorama-is-changing-b2b" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/eric-dukart.png?h=64&amp;w=64&amp;la=en&amp;hash=A0F0E5B3B319BE2119B0BCF10951EA5F73CCC7FB" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Eric Dukart</h5>
                                            <h6>Practice Director, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>June 18th</h1>
                                <h2>- June 18th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/how-stallion-transformed-business-processes-with-oracle-erp">How Stallion Transformed Business Processes with Oracle ERP and SCM Cloud</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        June 18, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/how-stallion-transformed-business-processes-with-oracle-erp" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/jason-lu.png?h=64&amp;w=64&amp;la=en&amp;hash=E7BA49EA22BB95EB4D91E869BB3225D28F8544D1" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Jason Lu</h5>
                                            <h6>Vice President, CIO, Stallion</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/matt-makowsky.png?h=64&amp;w=64&amp;la=en&amp;hash=B92F513053F77128B4A9D5F1EC2BF0D0698644D3" class="img-profile" alt="Matt Makowsky">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Matt Makowsky</h5>
                                            <h6>Director, Oracle ERP Cloud, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>May 9th</h1>
                                <h2>- May 9th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/the-storm-is-coming-minimize-security-risks-with-a-magento-2-upgrade">The Storm Is Coming: Minimize Security Risks With A Magento 2 Upgrade</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        May 9, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/the-storm-is-coming-minimize-security-risks-with-a-magento-2-upgrade" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/al-thompson.png?h=64&amp;w=64&amp;la=en&amp;hash=1EFB5CAC3FF761AB2FC268FEA9EC410F02ABADB4" class="img-profile" alt="Al Thompson">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Al Thompson</h5>
                                            <h6>Portfolio Specialist, Perficient Digital</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/karie-daudt.png?h=64&amp;w=64&amp;la=en&amp;hash=EE3E8C43630FCA626D8B5CD7493CC8010DEEA9B1" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Karie Daudt</h5>
                                            <h6>Senior Commerce Consultant, Perficient Digital</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>April 18th</h1>
                                <h2>- April 18th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/a-content-marketing-conversation-with-ann-handley-and-eric-enge">A Content Marketing Conversation with Ann Handley and Eric Enge</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        April 18, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/a-content-marketing-conversation-with-ann-handley-and-eric-enge" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/ann-handley-headshot-new.jpg?h=64&amp;w=64&amp;la=en&amp;hash=F892EEAEF24BFD4941C80E309E27F4F69E450B2E" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Ann Handley</h5>
                                            <h6>Chief Content Officer, MarketingProfs</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/eric-enge_headshot-new.png?h=64&amp;w=64&amp;la=en&amp;hash=A09B2A3E29EDA85EF9A8C6D07CC949302FAFB38F" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Eric Enge</h5>
                                            <h6>Principal, Perficient Digital</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>February 20th</h1>
                                <h2>- February 20th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/driving-digital-transformation-with-machine-learning-in-oracle-analytics">Driving Digital Transformation with Machine Learning in Oracle Analytics</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        February 20, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/driving-digital-transformation-with-machine-learning-in-oracle-analytics" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/shiv-bharti.png?h=64&amp;w=65&amp;la=en&amp;hash=DA1B31991A5E66E7F4709F36108A2C4081503CDA" class="img-profile" alt="Shiv Bharti">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Shiv Bharti</h5>
                                            <h6>Director, BI Analytics, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/mazen-manasseh.jpg?h=64&amp;w=62&amp;la=en&amp;hash=32AE2B049A1540797E7465BB3F3224EEE5D13C7B" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Mazen Manasseh</h5>
                                            <h6>Senior Solutions Architect, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>January 29th</h1>
                                <h2>- January 29th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/top-7-trends-in-corporate-performance-management">Top 7 Trends in Corporate Performance Management</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        January 29, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/top-7-trends-in-corporate-performance-management" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/tony-coffman.jpg?h=64&amp;w=64&amp;la=en&amp;hash=016B92BA0ADB333649DEF736FCBD0409A9FBA65A" class="img-profile" alt="Tony Coffman">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Tony Coffman</h5>
                                            <h6>Corporate Performance Management Strategist, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>January 15th</h1>
                                <h2>- January 15th, 2019</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2019/build-a-successful-community-with-engaging-content">Build a Successful Community with Engaging Content</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        January 15, 2019
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2019/build-a-successful-community-with-engaging-content" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/stewart-florsheim.png?h=64&amp;w=65&amp;la=en&amp;hash=24EE373AC01DC4A6B1B586BD5C60C7588B526CD8" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Stewart Florsheim</h5>
                                            <h6>VP, Content Enablement, Vlocity, Inc.</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/andrew-smith.png?h=64&amp;w=65&amp;la=en&amp;hash=05F28CB3F4C8D26F6D53F839FE9BB604E9E21169" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Andrew Smith</h5>
                                            <h6>Solution Architect, UI/UX, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>November 15th</h1>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2018/how-to-win-with-the-perfect-order-management-strategy">How to Win with the Perfect Order Management Strategy</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        November 15, 2018
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2018/how-to-win-with-the-perfect-order-management-strategy" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/steve-gatto.png?h=64&amp;w=65&amp;la=en&amp;hash=6CC495DD2EA445079E6DD3A5C3F40BE6A02F4E4E" class="img-profile" alt="Steve Gatto">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Steve Gatto</h5>
                                            <h6>Partner Specialist, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/pawan-gupta.jpg?h=64&amp;w=66&amp;la=en&amp;hash=E9E0889127958E9592CB7AAAED1D8CF11C9A1B7D" class="img-profile" alt="Pawan Gupta">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Pawan Gupta</h5>
                                            <h6>Director IBM Industry Solutions, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card col-lg-3 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="event-table">
                        <div class="event-row">
                            <div class="event-column event-date-heading">
                                <h1>August 22nd</h1>
                                <h2>- August 22nd, 2018</h2>
                            </div>
                            <div class="event-column event-details" style="height: 152px;">
                                <div class="event">
                                    <h4 class="event-title">
                                        <a href="/insights/webinars/on-demand-webinars/2018/why-your-customers-want-a-cognitive-call-center">Why Your Customers Want a Cognitive Call Center</a>
                                    </h4>
                                    <h5></h5>
                                    <h6>
                                        August 22, 2018
                                    </h6>
                                    <a href="/insights/webinars/on-demand-webinars/2018/why-your-customers-want-a-cognitive-call-center" class="btn-event">REGISTER</a>
                                </div>
                            </div>
                            <div class="event-column event-host" style="height: 362px;">
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/christine-livingston.jpg?h=64&amp;w=64&amp;la=en&amp;hash=59F832B99442718B5B86FBBD021FE8A6133C02EA" class="img-profile" alt="Christine Livingston">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Christine Livingston</h5>
                                            <h6>Director, IBM Watson, Perficient</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-label">
                                    <div class="profile-row">
                                        <div class="content-container img-wrapper">
                                            <img src="/-/media/images/presenter-profile-images/chris-desmarais.png?h=64&amp;w=65&amp;la=en&amp;hash=BB716506F55C809F68D2F789C04FE0A6AF7AA5DD" class="img-profile" alt="">
                                        </div>
                                        <div class="content-container content-wrapper">
                                            <h5>Chris Desmarais</h5>
                                            <h6>Product Manager, Watson Assistant, IBM</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <nav class="container pagination-wrapper silver">
            <ul class="pagination">

                <li class="page-item active"><a class="page-link" href="https://www.perficient.com/insights/webinars?pg=1">1</a></li>
                <li class="page-item"><a class="page-link" href="https://www.perficient.com/insights/webinars?pg=2">2</a></li>
                <li class="page-item"><a class="page-link" href="https://www.perficient.com/insights/webinars?pg=3">3</a></li>
                <li class="page-item"><a class="page-link" href="https://www.perficient.com/insights/webinars?pg=4">4</a></li>
                <li class="page-item"><a class="page-link" href="https://www.perficient.com/insights/webinars?pg=5">5</a></li>
                <li class="page-item"><a class="page-link" href="https://www.perficient.com/insights/webinars?pg=6">6</a></li>
                <li class="page-item"><a class="page-link" href="https://www.perficient.com/insights/webinars?pg=7">7</a></li>
                <li class="page-item"><a class="page-link" href="https://www.perficient.com/insights/webinars?pg=8">8</a></li>

                <li class="page-item">
                    <a class="page-link" href="https://www.perficient.com/insights/webinars?pg=2" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</section>